* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: #f8fafc;
    margin: 0;
    padding: 0;
    height: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
    background-color: #f8fafc;
}

.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 300px;
    padding-top: 4rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
    padding: 1.5rem;
    background-color: #f8fafc;
}
